#page1 {
    background-image: url("../img/cornfield.png");
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    /* background-color: #ffffff; */
    height: 100vh;
    background-position: bottom;
    
}

header {
    position: fixed;
    right: 15px;
    top: 10px;
}    

header nav img {
display: block;
}    

.primary-red {
    color: crimson;
}
.icon-size {
    height: 15px;
    width: 15px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
